/*Global Styles*/
body {
  padding: 0;
  margin: 0;
}

/*Header Styles*/
.logo{
  margin-left: 15px;
}
header {
  background-color: #f3f3f3;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content:flex-end;
  margin-right: 15px;
}

header li {
  margin-left: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;

}
header li a {
  text-decoration: none;
  color: black;
}

/*Main Styles*/
/*-----------------------*/

/*Flex container for all image flex objects*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery a {
  text-decoration: none;
  color: black;
}
/*Flex container for each gallery flex object*/
.octocat {
  position: relative;
  margin: 15px;
}

/*Triangle at the bottom of the image border*/
.octocat::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  left: 400px;
  bottom: 48px;​
}
.octImg {
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  display:flex;
  font-weight: bold;
  font-size: 16px;
  justify-content: space-between;
  margin-top: 0px;
  border-bottom: 1px solid #ccc;
}

.footer span {
  color: #777777;
}

.number {
  display: flex;
  margin-left: 15px;
  color: #ccc;
}

.purchasable {
  margin-left: 200px;
}

.purchasable a {
  font-weight:bold;
  font-family: "Helvetica Neue"
}


.authorImg {
  margin-top: 10px;
}
